$colors: (
    bg: #353535,
    primary-text: #EFEFEF,
    primary-light: lighten(#005DFF,40%),
    primary-dark: darken(#005DFF,40%),
    accent: #C14953,
    blue: #4267B2
);


@function color($color-name) {
    @return map-get($map: $colors, $key: $color-name);
}


@mixin text-shadow-hover-active {
    text-shadow: 0 6px 10px rgba($color: #000000, $alpha: .2);
    transition: text-shadow ease .1s;

    &:hover {
        text-shadow: 0 3px 8px rgba($color: #000000, $alpha: .2);
    }

    &:active {
        text-shadow: 0 1px 3px rgba($color: #000000, $alpha: .2);
    }
}

$fullDesktop: 1700px;
$desktopMax: 1600px;
$desktop: 1150px;
$tabletMax: 1149px;
$tablet: 670px;
$phone: 669px;


@mixin fullDesktopUpper {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) and (max-width: #{$desktopMax}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$tabletMax}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }
}

/* body, html {
    //height: 100%;
} */

body {
    margin: 0;
    background-color: color(bg);
    font-family: 'Oswald', sans-serif;


    .bg {
        clip-path: polygon(100% 0, 100% 11%, 36% 100%, 0 100%, 0 0);
        background: color(accent);
        height: 100%;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 0;
    }
}

header#main-header {
    width: 80%;
    margin: 20px auto 0 auto;
    

    /* @include desktop(){
        position: absolute;
        left: 0;
        right: 0;
    } */
    @include fullDesktopUpper(){
        position: absolute;
        left: 0;
        right: 0;
    }

    #header-logo{
        display: inline-block;


        a {
            color: color(primary-text);
            font-size: 1.6em;
            text-decoration: none;
            padding: 0 10px;

            &:hover {
                box-shadow: inset 0 0 4px 2px rgba($color: #000000, $alpha: .2);
                transition: box-shadow ease .3s;
            }
            &:active {
                box-shadow: inset 0 0 8px 5px rgba($color: #000000, $alpha: .2);
                transition: box-shadow ease .3s;
            }
            @include phone(){
                font-size: 1em;
            }
        }
    }

    #header-nav {
        float: right;

        ul {
            list-style-type: none;
            padding: 0;

            @include phone(){
                margin: 0;
            }
            
            li {
                float: left;

                a {
                    padding: 0 25px;
                    text-decoration: none;
                    color: color(primary-text);

                    &:hover {
                        color: color(bg);
                    }
                    @include phone(){
                        padding: 0;
                    }
                }
            }
        }
    }
}

main {
    scroll-snap-type: y proximity;
    
}

div#hero {
    //scroll-snap-align: start;
    //display: grid;
    //position: absolute;
    //top: 0;
    height: 100vh;
    width: 100%;
    /* grid-template-columns: 10% 40% 40% 10%;
    grid-template-areas:
        "1 text button 4"; */
    justify-content: center;
    align-items: center;

    @include fullDesktopUpper() {
        display: grid;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-areas:
        "1 text button 4";
    }
    /* @include desktop() {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "text button";
    } */
    @media (min-width: 670px) and (max-width: 1149px) and (orientation: portrait) {
        
        
        section#text {
            padding-top: 20vh;
        }

    }
    @media (min-width: 670px) and (max-width: 1149px) and (orientation: landscape) {
        
        
        section#text {
            padding-top: 5vh;
        }

    }

    h1 {
        font-size: 5vw;
        color: color(primary-text);
        font-weight: 500;
        text-shadow: 0 10px 30px rgba($color: #000000, $alpha: .2);

        /* @include desktop(){
            font-size: 8vw;
        } */

        @include tablet(){
            width: 60%;
            margin: .6em auto;
            font-size: 9vw;
        }

        @include phone(){
            font-size: 12vw;
        }
    }

    h3 {
        font-size: 2vw;
        color: color(primary-text);
        font-weight: 500;
        text-shadow: 0 10px 30px rgba($color: #000000, $alpha: .2);
        // margin-top: -50px;
        margin-bottom: 0;

        @include fullDesktopUpper(){
            font-size: 4vw;
        }

        @include tablet(){
            font-size: 5vw;
        }

        @include phone(){
            font-size: 8vw;
        }
    }

    p {
        margin-top: 0;
        margin-bottom: 70px;
        color: color(primary-text);

        
    }

    section#text {
        -ms-grid-column: 2; 
        grid-area: text;
        // padding-left: 1.5em;
        text-align: center;
    
    }

    section#button-container {
        -ms-grid-column: 3;
        grid-area: button;
        justify-self: center;
        text-align: center;

        #choose {
            margin-bottom: 80px;
        }

        label{
            margin-bottom: 40px;
            text-transform: uppercase;
            letter-spacing: .18em;
            font-weight: 700;
            color: color(primary-text);
            font-size: 1.2em;
            background-color: color(blue);
            padding: 10px 70px;
            cursor: pointer;
            box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .2);
            transition: box-shadow ease .3s;

            &:hover {
                box-shadow: 0 8px 5px rgba($color: #000000, $alpha: .2);
            }

            &:active {
                box-shadow: 0 4px 5px rgba($color: #000000, $alpha: .2);
            }
        }

        input {
            display: none;
        }

        div#drop-zone {
            background-color: color(primary-text);
            padding: 30px 90px;
            border: 3px dashed color(bg);
            font-size: 1.5em;
            box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .2);
            transition: box-shadow ease .3s;


            &:hover {
                box-shadow: 0 8px 5px rgba($color: #000000, $alpha: .2);
            }

            span {
                opacity: .5;
            }
            @include tablet(){
                display: none;
            }
            @include phone(){
                display: none;
            }
        }
    }
}

div#preview {
    //scroll-snap-align: start;
    //display: grid;
    width: 100%;
    /* grid-template-columns: 10% 55% 25% 10%;
    grid-template-areas:
        "1 desktop mobile 4";
    justify-content: center;
    align-items: center;
    padding: 15vh 0 15vh 0; */

    @include fullDesktopUpper() {
        display: grid;
        grid-template-columns: 10% 55% 25% 10%;
        grid-template-areas:
        "1 desktop mobile 4";
        justify-content: center;
        align-items: center;
        padding: 15vh 0 15vh 0;
    }
    @include desktop() {
        display: grid;
        grid-template-columns: 72.5% 27.5%;
        grid-template-areas:
        "desktop mobile";
        justify-content: center;
        align-items: center;
        padding: 15vh 0 15vh 0;
    }
    @include tablet() {
        padding: 5vh 0 15vh 0;
    }
    @include phone() {
        padding: 0 0 100px 0;
    }
    

    section#desktop {
        -ms-grid-column: 2;
        grid-area: desktop;
        justify-self: center;
        text-align: center;

        @media screen and (max-width: 821px) {
            display: none;
        }

        span {
            font-size: 1.2em;
            color: color(primary-text)
        }

        section#desktop-container {
            overflow: scroll;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            @include tablet(){
                max-width: 820px;
                margin: 0 auto;
            }

            div.desktop-bg {
                width: 820px;
                height: 312px;
                background-color: #fff;
                background-image: url(/images/example.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                img {
                    visibility: hidden;
                    width: 820px;
                }

                @include tablet(){
                    margin: 0 auto;
                }
            }
        }

        p#hint {
            text-align: center;
            color: color(primary-text);
            font-size: 1.5em;
            margin-top: 25px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 2s;
        }

        @keyframes delay {
            0% {opacity: 0;}
            50% {opacity: 0;}
            100% {opacity: 1;}
        }
    }

    section#mobile {
        -ms-grid-column: 3;
        grid-area: mobile;
        justify-self: center;
        text-align: center;


        div.iphone {
            width: 300px;
            height: 618px;
            background-image: url(/images/iphone.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;


            @include tablet(){
                margin: 0 auto;
            }
            @include phone(){
                margin: 0 auto;
            }

            div.mobile-bg {
                width: 267px;
                height: 150px;
                position: relative;
                top: 73px;
                left: 17px;
                background-color: #fff;
                background-image: url(/images/example.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }


            span {
                position: relative;
                top: 75px;
                color: color(primary-text);
            }
        }
    }

    /* #desktop::-webkit-scrollbar {
        display: none;
    } */

    #bottom {
        -ms-grid-column-span: 2;
        -ms-grid-row: 2;
        grid-column-start: span 2;
        justify-self: center;
        margin-top: 50px;
        color: color(primary-text);
        text-align: center;

        @include fullDesktopUpper() {
            -ms-grid-column: 2;
            grid-column-start: span 4; 
            max-width: 1000px;
        }
        @include tablet() {
            -ms-grid-column: 1;
            max-width: 80%;
            margin: 50px auto 0 auto;
        }
        @include phone() {
            max-width: 80%;
            margin: 50px auto 0 auto;
        }
    }
}

footer {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: color(primary-text);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "footer1 footer2";
    justify-content: center;
    align-items: center;
    padding: 40px 20px 5px 20px;

    @include phone() {
        display: block;

       #footer1 {
            margin-bottom: 50px;
        }
    }


    a{
        text-decoration: none;
        color: color(bg);

        &:hover {
            color: color(accent);
        }

        @include text-shadow-hover-active();
    }


    section {


        p{
            font-size: 1.1em;
            margin: 0;
        }

    }

    section#footer1 {
        -ms-grid-column: 1;
        grid-area: footer1;

        div a.download {
            text-decoration: none;
            color: color(primary-text);
            text-shadow: none;
        }
    }

    section#footer2 {
        -ms-grid-column: 2;
        grid-area: footer2;
        
        div a.download {
            text-decoration: none;
            color: color(primary-text);
            text-shadow: none;
        }
    }

    .footer-section {
        justify-self: center;
        text-align: center;
    }


    #copyright {
        -ms-grid-column-span: 2;
        -ms-grid-row: 2;
        grid-column-start: span 2;
        text-align: center;
        margin-top: 40px;

        a {
            text-decoration: none;

        }
    }
}

#show-template-btn {
    cursor: pointer;
    text-shadow: 0 6px 10px rgba($color: #000000, $alpha: .2);
    transition: text-shadow ease .1s;

    &:hover {
        text-shadow: 0 3px 8px rgba($color: #000000, $alpha: .2);
        color: color(accent);
    }

    &:active {
        text-shadow: 0 1px 3px rgba($color: #000000, $alpha: .2);
    }
}

.btn {
    background-color: color(accent);
    color: color(primary-text);
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .2);
    transition: box-shadow ease .3s;

    &:hover {
        box-shadow: 0 8px 5px rgba($color: #000000, $alpha: .2);
    }

    &:active {
        box-shadow: 0 4px 5px rgba($color: #000000, $alpha: .2);
    }
}

#example {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.47);
    opacity: 0;
    transition: opacity ease .5s;


    #template-image {

        @media screen and (max-width: 840px) {
            width: 90%;
            height: auto;
            margin: 0 auto;
            display: block;
        }
    }

   

    #close {
        position: fixed;
        top: 5px;
        right: 5px;
        cursor: pointer;
    }
}